app/assets/stylesheets/bootcards-desktop.css linguist-vendored
app/assets/stylesheets/dash.css linguist-vendored
app/assets/stylesheets/flatfy.css linguist-vendored
app/assets/stylesheets/shadows.css linguist-vendored

app/assets/javascripts/bootcards.min.js linguist-vendored


