<p id="notice">
  <%= notice %>
</p>

<div class="bootcards-list">
  <div class="panel panel-default">
    <div class="list-group">
      <% @stocks.each do |stock| %>
        <%= render partial:'stocks/product_card', locals: {
          picture: stock.product.picture.url,
          name: stock.product.name,
          description: stock.product.description,
          quantity: stock.quantity,
          sale_price: stock.product.sale_price,
          purchase_price: stock.product.purchase_price,
          lot: stock.lot,
          product_id: stock.product_id,
          } %>
          <% end %>
    </div>
  </div>
</div>



<%= link_to 'New Stock', new_stock_path %>